@media (max-width: 768px) {
  .App {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .App {
    width: 98%;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.delete {
  color: #ff073a;
  cursor: pointer;
}

.form-item {
  padding: 12px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  color: white;
  margin-right: 10px;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}
